@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Tiny5&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 10', sans-serif;
    background-color: black;
    color: white;
    font-size: 30px;
}

h1{
    font-size: 35px;
}

header{
    background-color: rgb(175, 58, 26);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

footer{
    display: flex;
    justify-content: space-around;
}

.reiniciar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Jersey 10', sans-serif;
    font-size: 25px;
}

#reiniciar{
    padding-block: 10px;
    padding-inline: 20px;
}

#mostrarNumero{
    padding-inline: 4%;
    padding-block: 3%;
    color: black;
    background-color: white;
    margin-bottom: 20px;
    font-size: 60px;
}

#entradaNumero{
    padding-inline: 60px;
    padding-block: 20px;
    color: white;
    border: 3px solid white;
    background-color: black;
    font-size: 20px;
    text-align: center;
}

#lanzarPrueba{
    padding-block: 8px;
    padding-inline: 20px;
}

#nJudaosContainer{
    margin-top: 20px;
}